.App {
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center; 
  background-color: #021a36; 
  color: #FFFFFF; 
  height: 900px; 
  width: 1080; 
  padding: 2%;
  clear: both;
}

nav{
  padding: 4%;
  background-color:grey;
  border: thin solid white ;
  position:sticky;
  top:0;
   
}

nav li {
  margin-top: -1%;
  padding-left: 2%; padding-right: 2%;
  margin-left: 5px;
  background-color: #ffffff;
  list-style-type: none; 
  color: #FFFFFF;  
  font-size: larger; 
  border: solid thin#065888;  
  float:left;
 }

ul{
  list-style: none;
}

body {
  padding-top: 7%;
  margin-bottom: 0%;
}

.container-fluid{
  padding: 0 !important;
}

/* fix padding under menu after resize */
@media screen and (max-width: 991px) {
  body { padding-top: 75px; }
}


  

#activityLog{
  color:black;
  width: 50%;
  float: left;
  border:solid thin #021a36;
  border-radius: 25px;
}
#caldiv{
  color:black;
  width: 50%;
  float: left;
  border:solid thin #021a36;
  border-radius: 25px;
}

#recentReports button {
  
 visibility:hidden;
  
}

#recentReports  {
  border:solid thin #021a36;
  border-radius: 25px;
  color:black;
 }

 
 .sdp {
  --theme-color: hsl(217, 48%, 42%) !important; /* violet color */
  margin: 0%;
  width: 100% !important;
  border-radius: 25px;
  background-color:transparent !important;
  box-shadow: none !important;

}
